@font-face {
    font-family: "gotham";
    src: url(/fonts/GOTHAM-BLACK.TTF);
}
@font-face {
    font-family: "pricedown";
    src: url(/fonts/Pricedown\ Bl.otf);

}
body{
display: flex;
flex-direction: column;
margin: 0;
background-color: black;
background: radial-gradient(circle, #250019, #000000 60%);

}
#em_h1{
 text-align: center;
 font-size: 5em;
 font-family: "gotham";
 background: radial-gradient(circle, #cd3abe, #ff8d4f);
 background-size: 300%;
 background-repeat: no-repeat;
 -webkit-background-clip: text;
 color: transparent;
 filter: drop-shadow(0 0 5px #a11ead);
 
}
#em_counter{
 display: inline-block;
 text-decoration: none;
 text-align: center;
 font-size: 3em;
 font-family: "gotham";
 color: white;
 filter: drop-shadow(0 0 1.5px #dca319);

}
#logo{
    color: white;
    font-family: "gotham";
    font-size: 2.5em;
    padding-left: 5%;

}
.container{
    padding-top: 6%;
    text-align: center;
}
#header{
   
}
#em_counter:hover{
    display: inline-block;
    font-size: 4em;
    cursor: pointer;
    color: #ffffff;
    filter: drop-shadow(0 0 10px #ff62d6);
    transform: scale(1.05);
    transition: 0.2s;
}
#link{
    text-decoration: none;
}